@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --background-main: #edeff2;
  --primary-color: #1757d9;
  --primary-hover: #3a70df;
  --success: #22c215;
  --success-light: #22c2151a;
  --error: #e93939;
  --gray: #666666;
  --gray2: #9e9e9e;
  --gray-light: #d6d6d6;
  --gray-light2: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./assets/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: 95%;
}

.label::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

.stroke-opacity-1 {
  stroke-opacity: 1;
}

.loader {
  animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
